@import './Mixins.scss';

.carousel-wrapper {
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    overflow-x: hidden;
}

.carousel-wrapper {
    position:relative;
}

.carousel-content {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height:100%;
    width:45%;
    margin:0 auto;
    padding-left:10rem;
}

.arrow {
    cursor:pointer;
    position: absolute;
    top:50%;
    margin-top:-35px;
    width:0;
    height:0;
    border-style:solid;
}

a.previousButton svg > polygon, a.nextButton svg > polygon{
    fill:$white;
}

.coin-price {
    font-size:6.4rem;
    color:$white;
    padding:2rem 0;
    margin-bottom:2rem;

    .coin-price-symbol {
        font-weight:300;
        margin-right:3rem;
    }
}

.coin-details {
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom:2rem;
    img {
        width:50px;
    }

    .coin-img {
        margin-right:2rem;
    }

    .coin-name {
        font-size:3rem;
        @include fw-bold;
        color:$white;
        margin-right:2rem;
    }

    .coin-symbol {
        font-size:2.6rem;
        @include fw-medium;
        color:$white;
    }
}

.coin-stats {
    font-size:3rem;
    color:$white;
    margin-bottom:2rem;
    .coin-one-hour {
        margin-right:2rem;
        &.positive {
            > span {
                color:green;
            }
        }

        &.negative {
            > span {
                color:red;
            }
        }
    }

    .coin-one-day {
        &.positive {
            > span {
                color:green;
            }
        }

        &.negative {
            > span {
                color:red;
            }
        }
    }
}

.coin-chart {
    width:100%;
    img {
        padding-top: 2rem;
    }
}